body{
    
    background-color: 	rgba(255, 255, 240, 0.507);
    font-family: 'Arima Madurai', cursive;
}

.container{
    display: grid;
    max-width: 1280px;
    margin:auto;
    padding: 20px;
    grid-template-areas:
    'head . nav nav  nav'
    '. caption caption caption .'
    '. hosting themes framework .'
    '. . question . .'
    '. . footer . .';
}

.logo{
    grid-area: head;
    font-size: 30px;
    font-weight: bold;
}
.nav{
    grid-area: nav;
}
.nav ul{
   margin-left: 200px;
   
}
.nav li{
    display: inline-block;
    list-style: none;
    padding-left: 10px;
    
}
.nav li img{
    position: relative;
    top: 3px;
    left:0px;
    height:1em;
    overflow: initial;
}
.title{
    grid-area: caption;
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
}
.title h1{
    margin-bottom:0px;
    
}
.title h2 {
    font-size:35px;
    margin-top:0px;
}
.title-caption{
    grid-area: caption;
    text-align: center;
    margin-top: 275px;
    margin-bottom: 20px;
    color: #0080ff;
}
.cat-hosting{
    grid-area: hosting;
    text-align: center;
   font-weight:bolder;
}
.cat-hosting img{
    width: 50%;
    height: auto;
}
.cat-themes{
    grid-area: themes;
    text-align: center;
    font-weight:bolder;
}
.cat-themes img{
    width: 50%;
    height: auto;
}
.cat-framework{
    grid-area: framework;
    text-align: center;
    font-weight:bolder;
}
.cat-framework img{
    width: 50%;
    height: auto;
}
.button{
    color: #0080ff;
    
}
.question-line{
    grid-area: question;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 80px;
    color: lightslategray;
    text-decoration: underline;
}
.footer{
    grid-area: footer;
    text-align: center;
    
    font-size: 10px;
}